@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/base'; */
/* @import 'tailwindcss/components'; */
/* @import './base.css'; */
/* @import 'tailwindcss/utilities'; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FFFDF3;
  color: #28262C;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: carlmarx, sans-serif; */
  font-family: carlmarx;
  font-weight: 400;
  font-style: normal;
}

p, div {
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;
}

aside {
  display: block;
  font-family: carlmarx;
    -webkit-text-stroke: 1.11px #E54B4B; /* stroke width and color */
  }

.playlist-creator {
  height: 50%;
}

#profile a {
  text-decoration: underline;
}