#import-btn {
    padding-top: 5px;
    padding-bottom: 5px;
}

#track-cover {
    position: relative;
    top: 0;
}

@media only screen and (min-width: 320px) {
    .track {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .track {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
}

/* .dashboard-playlist {
    max-height: 224px;
    width: 224px;
} */